In [3]:
import pandas as pd

In [8]:
data_df = pd.read_csv('../data/rating.csv')
domains_location_df = pd.read_csv('../data/domains_location.csv')
traffic_data_df = pd.read_csv('../data/traffic.csv')

In [9]:
data_df.head()

,article_id,source_id,source_name,author,title,description,url,url_to_image,published_at,content,category,article,title_sentiment
0,81664,NaN,Forbes,"Elizabeth Brownfield, Contributor, \n Elizabet...",superstar chef yannick alléno brings refined f...,Now open in Mayfair at Four Seasons Hotel Lond...,https://www.forbes.com/sites/elizabethbrownfie...,https://imageio.forbes.com/specials-images/ima...,2023-11-01 03:27:21.000000,"Pavyllon London, at Four Seasons Hotel London ...",Monaco,"pavyllon london, at four seasons hotel london ...",Neutral
1,81667,NaN,CNA,NaN,nice claim top spot in ligue 1 with late win a...,Nice moved into provisional first place in the...,https://www.channelnewsasia.com/sport/nice-cla...,https://onecms-res.cloudinary.com/image/upload...,2023-10-27 21:28:48.000000,Nice moved into provisional first place in the...,Monaco,nice moved into provisional first place in the...,Positive
2,81694,time,Time,Christina Larson / AP,amphibians are the world’s most vulnerable spe...,"The world’s frogs, salamanders, newts, and oth...",https://time.com/6320467/amphibians-most-vulne...,https://api.time.com/wp-content/uploads/2023/1...,2023-10-04 17:36:18.000000,"The worlds frogs, salamanders, newts and other...",Madagascar,"the world’s frogs, salamanders, newts and othe...",Negative
3,81695,NaN,Phys.Org,Sara Schmidt,image: rusty red waters in madagascar,Iron-rich sediment colors the red-orange water...,https://phys.org/news/2023-10-image-rusty-red-...,https://scx2.b-cdn.net/gfx/news/2023/image-rus...,2023-10-31 18:04:02.000000,Iron-rich sediment colors the red-orange water...,Madagascar,iron-rich sediment colors the red-orange water...,Neutral
4,81703,NaN,Digital Trends,Jason Struss,everything leaving max (formerly hbo max) in n...,From Gangs of London to Fear the Walking Dead ...,https://www.digitaltrends.com/movies/everythin...,https://www.digitaltrends.com/wp-content/uploa...,2023-10-23 23:09:18.000000,"Everything ends. No, I’m not having an existen...",Madagascar,"everything ends. no, i’m not having an existen...",Neutral

In [10]:
domains_location_df.head()

  SourceCommonName location    Country
0       00221.info       SG    Senegal
1        01net.com       FR     France
2         01net.it       IT      Italy
3      0223.com.ar       AR  Argentina
4     022china.com       CH      China

In [11]:
traffic_data_df.head()

,GlobalRank,TldRank,Domain,TLD,RefSubNets,RefIPs,IDN_Domain,IDN_TLD,PrevGlobalRank,PrevTldRank,PrevRefSubNets,PrevRefIPs
0,1,1,google.com,com,471274,2151358,google.com,com,1,1,471248,2147402
1,2,2,facebook.com,com,465424,2250631,facebook.com,com,2,2,465297,2247135
2,3,3,youtube.com,com,420579,1852995,youtube.com,com,3,3,420483,1848940
3,4,4,twitter.com,com,404985,1757127,twitter.com,com,4,4,404998,1753939
4,5,5,instagram.com,com,364746,1598085,instagram.com,com,5,5,364618,1594892

In [14]:
#top and bottom 10 Websites that have the largest count of news articles
source_group = data_df.groupby('source_name')
article_counts = source_group.size()

top_10_websites = article_counts.sort_values(ascending=False).head(10)
bottom_10_websites = article_counts.sort_values(ascending=True).head(10)

print("Top 10 websites with the most articles:")
print(top_10_websites)

print("\nBottom 10 websites with the fewest articles:")
print(bottom_10_websites)

Top 10 websites with the most articles:
source_name
ETF Daily News        16746
The Times of India     7504
GlobeNewswire          5423
Globalsecurity.org     3119
Forbes                 2784
BBC News               2113
ABC News               2058
Business Insider       2034
The Punch              1800
Al Jazeera English     1664
dtype: int64

Bottom 10 websites with the fewest articles:
source_name
AllAfrica - Top Africa News     20
The Verge                      214
CNN                            267
Wired                          270
Euronews                       286
ReadWrite                      324
Gizmodo.com                    388
Android Central                522
Time                           600
CNA                            674
dtype: int64

In [15]:
#top and bottom 10 Websites with the highest numbers of visitors traffic 
top_10_traffic_websites = traffic_data_df.sort_values(by='GlobalRank', ascending=True).head(10)
bottom_10_traffic_websites = traffic_data_df.sort_values(by='GlobalRank', ascending=True).tail(10)

print("Top 10 websites with the highest visitor traffic:")
print(top_10_traffic_websites[['Domain', 'GlobalRank']])

print("\nBottom 10 websites with the lowest visitor traffic:")
print(bottom_10_traffic_websites[['Domain', 'GlobalRank']])

Top 10 websites with the highest visitor traffic:
                 Domain  GlobalRank
0            google.com           1
1          facebook.com           2
2           youtube.com           3
3           twitter.com           4
4         instagram.com           5
5          linkedin.com           6
6             apple.com           7
7         microsoft.com           8
8  googletagmanager.com           9
9         wikipedia.org          10

Bottom 10 websites with the lowest visitor traffic:
                        Domain  GlobalRank
999990            eiretrip.com      999991
999991    exploring-africa.com      999992
999992                hmag.com      999993
999993          irishcycle.com      999994
999994         keith-baker.com      999995
999995              kireie.com      999996
999996             mt-lock.com      999997
999997           pinkwater.com      999998
999998          soderhomes.com      999999
999999  toyotamusicfactory.com     1000000

In [16]:
#top and bottom 10 Countries with the highest number of news media organisations (represented by domains in the data) 
country_media_orgs = domains_location_df.groupby('Country')['SourceCommonName'].nunique()
top_10_countries = country_media_orgs.sort_values(ascending=False).head(10)
bottom_10_countries = country_media_orgs.sort_values(ascending=True).head(10)

print("Top 10 countries with the most news media organizations:")
print(top_10_countries)

print("\nBottom 10 countries with the fewest news media organizations:")
print(bottom_10_countries)

Top 10 countries with the most news media organizations:
Country
United States     14111
United Kingdom     1946
Italy              1804
France             1039
Russia             1020
Canada              886
Germany             884
China               779
Turkey              725
India               686
Name: SourceCommonName, dtype: int64

Bottom 10 countries with the fewest news media organizations:
Country
American Samoa              1
Aruba                       1
Cook Islands                1
Comoros                     1
Guernsey                    1
Guinea-Bissau               1
Guadeloupe                  1
Greenland                   1
Isle of Man                 1
Turks and Caicos Islands    1
Name: SourceCommonName, dtype: int64

TypeError: first argument must be string or compiled pattern